#site__header{
    padding-top: 43px;
}

.site_header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.site__header__list{
    display: flex;
    align-items:center;
}

.site__header__item +.site__header__item{
    margin-left: 33px;
}

.site__header__link{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;

    &:hover{
        color: #333D4B;
    }
}

.header__menu{
    display: inline-block;
    width: 20px;
    height: 20px;
    border:none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../../img/header-menu.svg);
    background-position: center;
    cursor: pointer;
    display: none;
    

}

@media only screen and (max-width: 800px) {
    #site__header{
        padding-top: 40px;
        padding-bottom: 53px;
    }
}

@media only screen and (max-width: 600px) {
    #site__header{
        padding-top: 32px;
        padding-bottom: 40px;
    }

    .header__logo{
        max-width: 140px;
    }
    .header__menu{
        display: block;
    }

    .site__header__list{
        display: none;
    }
}